@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
* {
    max-width: 100%;
}

body {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    background: url("img/background.jpg");
    background-size: auto;
}

.cell {
    cursor: default;
    width:30px;
    max-width:30px;
    min-width: 30px;
}

.info div {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    line-height: 50px;
    text-anchor: middle;
}

table {
    border: 2px solid;
    margin: auto;
    max-width: 100%;
}


.gameBoard td {
    width: 30px;
    height:30px;
    background-color: lightgray;
    text-align: center; 
    font-size: 125%;
    line-height: 30px;
    padding: 0px;
    outline: 1px solid black;
}

.hidden {
    background: url("img/unopened.jpg");
    background-size: cover;
    background-origin: padding-box;
    cursor: pointer;
}

.hidden:hover {
    background: url("img/unopenedhover.jpg");
    background-size: cover;
    background-origin: padding-box;
}

.marked {
    background: url("img/flag.png");
    background-size: cover;
    background-origin: padding-box;
    cursor: pointer;
}

.gameEnd {
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.buttons > div {
    line-height: 45px;
    background-color: whitesmoke;
    margin: 5px;
    min-height: 50px;
    min-width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.buttons > div:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}

.mineamount {
    text-anchor: start;
    color: red;
    width: 30px;
    padding:0px !important;
    margin:0px !important; 
}

.timer {
    text-anchor: start;
    color: red;
    width: 30px;
    padding:0px !important;
    margin:0px !important; 
}

.num1 {
    color: blue;
}

.num2 {
    color: green;
}

.num3 {
    color: red;
}

.num4 {
    color: darkblue;
}

.num5 {
    color: darkred;
}

.num6 {
    color: teal;
}

.num7 {
    color: black;
}

.num8 {
    color: darkgray;
}
